<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Form</h1>
      <article>
        <form method="POST" action="/">
          <div class="grid">
            <div>
              <label for="name">Name</label>
              <input id="name" name="name" type="text" required />
            </div>
            <div>
              <label for="amount">Amount</label>
              <input id="amount" name="amount" type="number" required />
            </div>
          </div>
          <label for="amount">Comment</label>
          <input id="comment" name="comment" type="text" required />
          <button type="submit">Submit</button>
        </form>
      </article>

      <h1>Donations</h1>
      {% for donation in donations %}
      <article class="grid">
        <div>📆 {{ donation["createdAt"] }}</div>
        <div>🪪 {{ donation["name"] }}</div>
        <div>💰 {{ "฿{:,d}".format(donation["amount"]) }}</div>
        <div>✍🏿 {{ donation["comment"] }}</div>
      </article>

      {% endfor %}
    </div>
  </body>
</html>
